@using System.Web;
@using VLPMall.Interfaces;
@model ICollection<TinTuc>;

@inject IArticleRepository ArticleRepository;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	var articles = await ArticleRepository.GetTop10Async();
}

<link href="~/css/baiviet.css" rel="stylesheet" />

<style>
	.baiviet.bg, .baiviet.active {
		background-color: #6051E3 !important;
		border-color: #6051E3 !important;
	}

	.khuyenmai.bg, .khuyenmai.active {
		background-color: #C15669 !important;
		border-color: #C15669 !important;
	}

	.bg-light-gray {
		background-color: #f5f5f5 !important;
		border-color: #f5f5f5 !important;
	}

	.list-group-item {
		background-color: #f5f5f5 !important;
		border-right: 0px !important;
		border-left: 0px !important;
	}
</style>

<div class="container-fluid">
	<div id="breadcrumbs">
		<ul class="breadcrumb mt-3">
			<li class="breadcrumb-item">
				<a asp-controller="Home" asp-action="Index">
					<span class="fa fa-home"></span>
				</a>
			</li>
			<li class="breadcrumb-item">
				@if (ViewContext.RouteData.Values["controller"].ToString() == "KhuyenMai")
				{
					<a asp-controller="KhuyenMai" asp-action="Index">Khuyến mãi</a>
				} else
				{
					<a asp-controller="BaiViet" asp-action="Index">Bài viết</a>
				}
			</li>
		</ul>
	</div>
	<hr />
</div>

<div class="container-fluid">

	<div class="d-none">
		<h1>
			Bài viết
		</h1>
	</div>

	<div class="row aos-init aos-animate" data-aos="fade-up">
		<div class="col-md-12 col-lg-7 col-xl-9 d-block m-0 p-0 p-md-2">

			<ul class="nav nav-pills justify-content-center mb-4 inner-page" id="category-posts-tab">
				<li class="nav-item mx-0 mx-lg-4">
					@if (ViewContext.RouteData.Values["controller"].ToString() == "BaiViet")
					{
						<a  id="baiviet" class="nav-link px-3 py-2 active baiviet" asp-controller="BaiViet" asp-action="Index" role="tab" aria-controls="pills-home" aria-selected="true">
							<h5 class="m-0 p-0 d-none d-sm-block font-medium">Bài Viết</h5>
							<h6 class="m-0 p-0 d-block d-sm-none font-medium">Bài Viết</h6>
						</a>
					} else
					{
						<a id="khuyenmai" class="nav-link px-3 py-2 baiviet text-black" style="color: black !important" asp-controller="BaiViet" asp-action="Index" role="tab" aria-controls="pills-home" aria-selected="true">
							<h5 class="m-0 p-0 d-none d-sm-block font-medium">Bài Viết</h5>
							<h6 class="m-0 p-0 d-block d-sm-none font-medium">Bài Viết</h6>
						</a>
					}
				</li>
				
				<li class="nav-item mx-0 mx-lg-4">
					@if (ViewContext.RouteData.Values["controller"].ToString() == "KhuyenMai")
					{
						<a class="nav-link px-3 py-2 active khuyenmai" asp-controller="KhuyenMai" asp-action="Index" role="tab" aria-controls="pills-profile" aria-selected="false">
							<h5 class="m-0 p-0 d-none d-sm-block font-medium">Khuyến Mãi</h5>
							<h6 class="m-0 p-0 d-block d-sm-none font-medium">Khuyến Mãi</h6>
						</a>
					} else
					{
						<a class="nav-link px-3 py-2 khuyenmai" style="color: black !important" asp-controller="KhuyenMai" asp-action="Index" role="tab" aria-controls="pills-profile" aria-selected="false">
							<h5 class="m-0 p-0 d-none d-sm-block font-medium">Khuyến Mãi</h5>
							<h6 class="m-0 p-0 d-block d-sm-none font-medium">Khuyến Mãi</h6>
						</a>
					}
					
				</li>
			</ul>


			<div id="articlelist">
				@foreach (var item in Model)
				{
					@if (item.TrangThai)
					{
						<div class="card card-shadow mb-3 article-card radius-tl-0 radius-bl-0">
							<div class="card-body p-0">
								<a asp-controller="TinTuc" asp-action="Information" asp-route-name="@item.TieuDe" class="text-black">
									<div class="row m-0 p-0">
										<div class="col-md-5 col-12 m-0 p-0 article-thumbnail-placeholder align-middle">
											<img class="card-img-top article-thumbnail lazy" src="@item.AnhDaiDien" alt="@item.TieuDe">
											<div class="article-thumbnail-image" style="background-image: url('@item.AnhDaiDien')"></div>
											<div class="article-thumbnail-backdrop" style="background-image: url('@item.AnhDaiDien')"></div>
										</div>
										<div class="col-md-7 col-12 m-0 p-0 article-content-placeholder">
											<div class="py-3 py-md-3 px-4 px-md-5 article-content">
												<h5 class="card-title mt-3 mb-0"><strong>@item.TieuDe</strong></h5>
												@switch (item.NgayDang.Month)
												{
													case 1:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Một @item.NgayDang.Year</small></div>
															break;
														}
													case 2:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Hai @item.NgayDang.Year</small></div>
															break;
														}
													case 3:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Ba @item.NgayDang.Year</small></div>
															break;
														}
													case 4:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Bốn @item.NgayDang.Year</small></div>
															break;
														}
													case 5:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Năm @item.NgayDang.Year</small></div>
															break;
														}
													case 6:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Sáu @item.NgayDang.Year</small></div>
															break;
														}
													case 7:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Bảy @item.NgayDang.Year</small></div>
															break;
														}
													case 8:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Tám @item.NgayDang.Year</small></div>
															break;
														}
													case 9:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Chín @item.NgayDang.Year</small></div>
															break;
														}
													case 10:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Mười @item.NgayDang.Year</small></div>
															break;
														}
													case 11:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Mười Một @item.NgayDang.Year</small></div>
															break;
														}
													case 12:
														{
															<div><small>Đăng vào @item.NgayDang.Day, Tháng Mười Hai @item.NgayDang.Year</small></div>
															break;
														}
												}
												@Html.Raw(HttpUtility.HtmlDecode(HttpUtility.HtmlEncode("<div class=\"card-text mt-2 text-truncate\" style=\"max-width: 100%;max-height: 200px;\">" + item.NoiDung + "</div>")))
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					}
				}
			</div>
		</div>

		<div class="col-lg-5 col-xl-3 d-none d-lg-block">
			<div class="bg-light-gray py-3 px-4">
				<div>
					<div class="h4 font-bold mb-3">Tin mới nhất</div>
					<ul class="list-group latest-news">
						@foreach(var item in articles)
						{
							<li class="list-group-item border-top-0 border-right-0 border-left-0 border-bottom p-0 m-0 bg-none text-break">
								<div class="py-2">
									<a asp-controller="TinTuc" asp-action="Information" asp-route-name="@item.TieuDe" class="text-black font-bold">
										@item.TieuDe
									</a>
									<br>
									@switch (@item.NgayDang.Month)
									{
										case 1:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Một @item.NgayDang.Year</small></div>
												break;
											}
										case 2:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Hai @item.NgayDang.Year</small></div>
												break;
											}
										case 3:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Ba @item.NgayDang.Year</small></div>
												break;
											}
										case 4:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Bốn @item.NgayDang.Year</small></div>
												break;
											}
										case 5:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Năm @item.NgayDang.Year</small></div>
												break;
											}
										case 6:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Sáu @item.NgayDang.Year</small></div>
												break;
											}
										case 7:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Bảy @item.NgayDang.Year</small></div>
												break;
											}
										case 8:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Tám @item.NgayDang.Year</small></div>
												break;
											}
										case 9:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Chín @item.NgayDang.Year</small></div>
												break;
											}
										case 10:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Mười @item.NgayDang.Year</small></div>
												break;
											}
										case 11:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Mười Một @item.NgayDang.Year</small></div>
												break;
											}
										case 12:
											{
												<div><small>Đăng vào @item.NgayDang.Day, Tháng Mười Hai @item.NgayDang.Year</small></div>
												break;
											}
									}
								</div>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>

<script>
	
</script>

@*<div class="container mt-4 mb-4">
    <!--Bootstrap classes arrange web page components into columns and rows in a grid -->
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
            <h1 class="h2 mb-4">Tạo tin tức mới</h1>
            <label>Nội dung tin tức</label>
            <div class="form-group">
                <textarea id="editor"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</div>

<!-- TinyMCE CDN -->
<script src="https://cdn.tiny.cloud/1/zpe1x8bdjjncr7qwsakzb1au924tgk1cgsptck5sgd5sg65g/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
        plugins: 'lists, link, image, media',
        toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
        menubar: false,
        setup: (editor) => {
            // Apply the focus effect
            editor.on("init", () => {
                editor.getContainer().style.transition = "border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out";
            });
            editor.on("focus", () => {
                (editor.getContainer().style.boxShadow = "0 0 0 .2rem rgba(0, 123, 255, .25)"),
                (editor.getContainer().style.borderColor = "#80bdff");
            });
            editor.on("blur", () => {
                (editor.getContainer().style.boxShadow = ""),
                    (editor.getContainer().style.borderColor = "");
            });
        },
    });
</script>*@