﻿@using Microsoft.AspNetCore.Identity
@using VLPMall.Data.Enum;
@using VLPMall.Interfaces;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IDirectoryRepository ChiNhanh

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var directories = await ChiNhanh.GetAllAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VLPMall</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VLPMall.styles.css" asp-append-version="true" />
    <link href="~/lib/fontawesome-free-6.4.0-web/css/all.css" rel="stylesheet" />
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel2-2.3.4/dist/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/boxicons-2.1.4/css/animations.css" rel="stylesheet" />
    <link href="~/lib/boxicons-2.1.4/css/boxicons.css" rel="stylesheet" />
    <link href="~/lib/boxicons-2.1.4/css/transformations.css" rel="stylesheet" />
    <!--AOS-->
    <link href="~/lib/aos-master/dist/aos.css" rel="stylesheet" />
    <link href="~/css/dropdown.css" rel="stylesheet" />
    <style>
        .footer {
            line-height: 1rem !important;
            margin: 0;
        }
        .row {
            margin: 0;
        }
        .fa-caret-down {
            margin-left: 0.255em;
        }
        .nav-item {
            margin: 0 15px !important;
        }

        .nav-pills .nav-item {
            margin: 0 !important;
        }

        .xp-searchbar .btn {
            font-size: 18px !important;
        }

        .modal-dialog {
            max-width: 600px !important;
        }

        .nav-link {
            color: white !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-danger px-3">
            <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index" id="logo-text">VLP MALL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="nav-menu navbar-nav">
                    <li class="nav-item text-white">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Introduce" asp-action="IndexIntroduce">Giới thiệu</a>
                    </li>
                    <li class="nav-item drop-down">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link" >Danh mục<i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li class="drop-down">
                                <a asp-area="" asp-controller="ChiNhanh" asp-action="Index" class="text-uppercase">Chi nhánh</a>
                                <ul>
                                    @foreach(var item in directories)
                                    {
                                        <li class="">
                                            <a asp-controller="ChiNhanh" asp-action="Information" asp-route-id="@item.Id" class="text-uppercase">@item.TenChiNhanh</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="https://www.smsupermalls.com/shops" class="text-uppercase">Cửa hàng</a>
                                <ul>
                                    @foreach (var item in Enum.GetValues(typeof(LoaiCuaHang)))
                                    {
                                        var name = Enum.GetName(typeof(LoaiCuaHang), item);
                                        <li class="drop-down">
                                            @switch (name)
                                            {
                                                case "AmThuc": 
                                                    {
                                                        <a href="https://www.smsupermalls.com/shops/entertainment" class="text-uppercase">Ẩm thực</a>
                                                        <ul>
                                                            @foreach (var amThucItem in Enum.GetValues(typeof (LoaiAmThuc)))
                                                            {
                                                                var amThuc = Enum.GetName(typeof(LoaiAmThuc), amThucItem);
                                                                <li class="">
                                                                    <a href="" class="text-uppercase">@amThuc</a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    break;
                                                    }
                                                case "RapChieuPhim":
                                                    {
                                                        <a href="https://www.smsupermalls.com/shops/entertainment" class="text-uppercase">Rạp chiếu phim</a>
                                                        <ul>
                                                            <li class="">
                                                                <a href="" class="text-uppercase">Đồ ăn nhanh</a>
                                                            </li>
                                                        </ul>
                                                        break;
                                                    }
                                                case "GiaiTri":
                                                    {
                                                        <a href="https://www.smsupermalls.com/shops/entertainment" class="text-uppercase">Giải trí</a>
                                                        <ul>
                                                            <li class="">
                                                                <a href="" class="text-uppercase">Đồ ăn nhanh</a>
                                                            </li>
                                                        </ul>
                                                        break;
                                                    }
                                                case "TienIch":
                                                    {
                                                        <a href="https://www.smsupermalls.com/shops/entertainment" class="text-uppercase">Tiện ích</a>
                                                        <ul>
                                                            <li class="">
                                                                <a href="" class="text-uppercase">Đồ ăn nhanh</a>
                                                            </li>
                                                        </ul>
                                                        break;
                                                    }
                                                case "DichVu":
                                                    {
                                                        <a href="https://www.smsupermalls.com/shops/entertainment" class="text-uppercase">Dịch vụ</a>
                                                        <ul>
                                                            <li class="">
                                                                <a href="" class="text-uppercase">Đồ ăn nhanh</a>
                                                            </li>
                                                        </ul>
                                                        break;
                                                    }
                                                case "MuaSam":
                                                    {
                                                        <a href="https://www.smsupermalls.com/shops/entertainment" class="text-uppercase">Mua sắm</a>
                                                        <ul>
                                                            <li class="">
                                                                <a href="" class="text-uppercase">Đồ ăn nhanh</a>
                                                            </li>
                                                        </ul>
                                                        break;
                                                    }
                                            } 
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item drop-down">
                        <a href="https://www.smsupermalls.com/#sm-malls" class="nav-link">Hoạt động <i class="fa fa-caret-down"></i></a>
                        <ul>
                            @foreach (var item in Enum.GetValues(typeof(LoaiHoatDong)))
                            {
                                var name = Enum.GetName(typeof(LoaiHoatDong), item);
                                <li class="drop-down">
                                    <a href="https://www.smsupermalls.com/shops/entertainment" class="text-uppercase">@name</a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Club" asp-action="Index">Liên hệ</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post">
                                @if (User.IsInRole("admin"))
                                {
                                    <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-light">Bảng điều khiển</a>
                                }
                                <input asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-outline-light" type="submit" value="Đăng xuất" />
                            </form>
                            
                        </li>
                    } else
                    {
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-light">Bảng điều khiển</a>
                            <a class="btn btn-outline-light" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                            <span>&nbsp;hoặc&nbsp;</span>
                            <a class="btn btn-outline-light" asp-area="" asp-controller="Account" asp-action="Register">Đăng ký</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <main role="main">
            @RenderBody()
        </main>
    </section>

    <div class="b-example-divider"></div>

    <footer class="mt-auto py-3 bg-light row">
        <div class="col-lg-6 mh-100">
            <div class="mb-2">
                <h6>Trung tâm thương mại VLP MALL</h6>
                <div class="my-2">828 Đường Sư Vạn Hạnh, Phường 13, Quận 10</div>
                <div class="my-2">(028) 77789561 | 77788622</div>
                <div class="my-2">vlpmall@gmail.com</div>
            </div>
            <div class="mb-2">
                <h6>Thời gian hoạt động</h6>
                <div class="my-2">Thứ Hai - Thứ Sáu | 9:30 - 22:00</div>
                <div class="my-2">Thứ Bảy - Chủ Nhật | 9:00 - 22:00</div>
            </div>
            <div></div>
        </div>

        <div class="col-lg-6 text-center mh-100">
            <div class="row row-col-lg-3">
                <div class="col-lg-4">
                    <h6>THÔNG TIN</h6>
                    <ul class="nav flex-column text-center">
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Trang chủ</a></li>
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Giới thiệu</a></li>
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Danh mục</a></li>
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Hoạt động</a></li>
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6>DANH MỤC</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Chi nhánh</a></li>
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Cửa hàng</a></li>
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Giải trí</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h6>HOẠT ĐỘNG</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Tin tức</a></li>
                        <li class="nav-item mb-1"><a href="#" class="nav-link p-0 text-muted">Tuyển dụng</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col flex flex-row align-content-end">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4602263428283!2d106.66478987427158!3d10.776019959202772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb765b5c25%3A0x9a3519bdad5a85a3!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCAoSFVGTElUKQ!5e0!3m2!1sen!2s!4v1688497469866!5m2!1sen!2s" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery-3.3.1.slim.min.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/aos-master/dist/aos.js"></script>
    <script src="~/lib/owlcarousel2-2.3.4/dist/owl.carousel.js"></script>
    <script src="~/lib/fontawesome-free-6.4.0-web/js/all.js"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
</body>
</html>
