@model ICollection<TuyenDung>;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .container {
        max-width: 95% !important;
    }
</style>

<div class="mx-6">
    <div class="row my-4">
        <div class="col-md-12 text-center">
            <h1>Thông tin tuyển dụng</h1>
            <span>Hiểu giá trị bản thân và tìm kiếm công việc </span>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-sm-12 col-xs-12 list-item md-clearfix lg-clearfix shadow p-3 bg-white rounded">
                <article>
                    <div class="row text-black">
                        <div class="col-2">
                            <img class="img-fluid" src="@item.NhaTuyenDung.AnhDaiDien" />
                        </div>
                        <div class="col-7">
                            <a asp-controller="TuyenDung" asp-action="Information" asp-route-name="@item.TenTuyenDung" class="link-dark">
                                <h6 class="text-capitalize">@item.TenTuyenDung</h6>
                            </a>
                            <div>
                                <i class="fa-solid fa-suitcase"></i>
                                <a asp-controller="TuyenDung" asp-action="LoaiNgheNghiep" asp-route-nghenghiep="@item.LoaiNgheNghiep" class="link-dark">
                                    <span>@item.LoaiNgheNghiep</span>
                                </a>
                            </div>
                            <div>
                                <i class="fa-regular fa-clock"></i>
                                <span>Ngày đăng: @item.NgayDang</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-coins"></i>
                                @if (item.MucLuong == null)
                                {
                                    <span>Thỏa thuận</span>
                                } else
                                {
                                    <span>@item.MucLuong VNĐ</span>
                                }
                            </div>
                            <div class="d-flex">
                                @if (item.LoaiHinhTuyenDung != null)
                                {
                                    <a asp-controller="TuyenDung" asp-action="LoaiHinhTuyenDung" asp-route-loaihinh="@item.LoaiHinhTuyenDung" class="btn btn-sm btn-outline-primary rounded-5 px-3">
                                        @item.LoaiHinhTuyenDung
                                    </a>
                                }
                                @if (item.LoaiKinhNghiem != null)
                                {
                                    <a asp-controller="TuyenDung" asp-action="LoaiKinhNghiem" asp-route-loaihinh="@item.LoaiKinhNghiem" class="btn btn-sm btn-outline-primary rounded-5 px-2 mx-2">
                                        @item.LoaiKinhNghiem
                                    </a>
                                }
                                @if (item.LoaiTrinhDo != null)
                                {
                                    <a asp-controller="TuyenDung" asp-action="LoaiTrinhDo" asp-route-loaihinh="@item.LoaiTrinhDo" class="btn btn-sm btn-outline-primary rounded-5 px-3">
                                        @item.LoaiTrinhDo
                                    </a>
                                }
                            </div>
                        </div>
                        <div class="col-3 d-flex align-self-center justify-content-around">
                            <a asp-controller="YeuThich" asp-action="TuyenDung" class="align-self-center link-dark">
                                <i class="fa-regular fa-bookmark "></i>
                            </a>
                            <a asp-controller="TuyenDung" asp-action="UngTuyen" class="btn btn-primary">Nộp hồ sơ</a>
                        </div>
                    </div>
                </article>
            </div>
        }
    </div>
</div>