@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using VLPMall.Data.Enum;
@using VLPMall.ViewModels;
@model IEnumerable<ListDanhMucViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .container {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
</style>


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#F37F34" /></svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Chi nhánh.</h1>
                    <p>Trung tâm thương mại VLP Mall.</p>
                    <p><a class="btn btn-lg btn-primary" asp-area="" asp-controller="ChiNhanh" asp-action="Index">Khám phá ngay</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#F3627D" /></svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>Đăng nhập.</h1>
                    <p>Đăng nhập ngay để hưởng những ưu đãi chỉ riêng mình bạn có</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Đăng ký</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#F132DE" /></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Đánh giá.</h1>
                    <p>Nếu bạn yêu thích chúng tôi hãy để lại một đánh giá nhé.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Đánh giá</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1 px-0 px-md-1">
            <div id="breadcrumbs" class="container-fluid">
                <ul class="breadcrumb"><li><a href=""><span class="fa fa-home"></span></a> </li><li><a href="">Cửa hàng</a> </li><li><a href="">Ẩm thực</a> </li><li><a href="">@Enum.GetName(typeof(LoaiAmThuc), LoaiAmThuc.DoAnNhanh)</a> </li></ul>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <h4 class="text-black text-uppercase">@Enum.GetName(typeof(LoaiAmThuc), LoaiAmThuc.DoAnNhanh)</h4>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <form id="searchshopform" class="form-horizontal">
                            <div class="form-group">
                                <input type="text" id="searchshop" class="form-control" placeholder="Tìm kiếm cửa hàng theo tên" style="background-image: url(https://www.smsupermalls.com/themes/default/img/search.jpg) !important;">
                            </div>
                            <div class="form-group text-center">
                                
                                <a href="#ALL" class="shop-filter-by-initial text-black">ALL</a>
                                @for (var i = 'A'; i <= 'Z'; i++)
                                {
                                    <a href="#@i" class="shop-filter-by-initial text-black">@i</a>
                                }
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="page-header hide">
                        <h1 id="page-title" class="no-margin no-padding">Cửa hàng</h1>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div data-shop-name="@item.TenCuaHang" data-initial="@item.TenCuaHang.Trim().Substring(0,1).ToUpper()" class="col-6 col-md-3 p-4 p-xs-1 text-center category-brand" data-visibility="visible">
                            @if (item.LoaiAmThuc != null)
                            {
                                <div class="padding-10">
                                <a asp-controller="CuaHang" asp-action="Information" asp-route-name="@item.TenCuaHang" id="brand_@item.TenCuaHang.Trim().Replace(" ", "-").ToUpper()" class="text-black" data-brand="@item.TenCuaHang.Trim().ToUpper()" data-trim-brand="@item.TenCuaHang.Trim().Replace(" ", "").ToUpper()" data-brand-filter="@item.TenCuaHang.Trim().Substring(0,1).ToUpper()" data-category="@Enum.GetName(typeof(LoaiCuaHang), LoaiCuaHang.AmThuc).ToUpper()">
                                    <img src="@item.LinkAnh" class="img-fluid" alt="@item.TenCuaHang.Trim().ToUpper()">
                                    <h5 class="mt-2 text-black text-uppercase">@item.TenCuaHang.Trim().ToUpper()</h5>
                                </a>
                            </div>
                            }
                            else if (item.LoaiGiaiTri != null)
                            {
                                <div class="padding-10">
                                <a asp-controller="CuaHang" asp-action="Information" asp-route-name="@item.TenCuaHang" id="brand_@item.TenCuaHang.Trim().Replace(" ", "-").ToUpper()" class="text-black" data-brand="@item.TenCuaHang.Trim().ToUpper()" data-trim-brand="@item.TenCuaHang.Trim().Replace(" ", "").ToUpper()" data-brand-filter="@item.TenCuaHang.Trim().Substring(0,1).ToUpper()" data-category="@Enum.GetName(typeof(LoaiCuaHang), LoaiCuaHang.GiaiTri).ToUpper()">
                                    <img src="@item.LinkAnh" class="img-fluid" alt="@item.TenCuaHang.Trim().ToUpper()">
                                    <h5 class="mt-2 text-black text-uppercase">@item.TenCuaHang.Trim().ToUpper()</h5>
                                </a>
                            </div>
                            }
                            else if (item.LoaiDichVu != null)
                            {
                                <div class="padding-10">
                                    <a asp-controller="CuaHang" asp-action="Information" asp-route-name="@item.TenCuaHang" id="brand_@item.TenCuaHang.Trim().Replace(" ", "-").ToUpper()" class="text-black" data-brand="@item.TenCuaHang.Trim().ToUpper()" data-trim-brand="@item.TenCuaHang.Trim().Replace(" ", "").ToUpper()" data-brand-filter="@item.TenCuaHang.Trim().Substring(0,1).ToUpper()" data-category="@Enum.GetName(typeof(LoaiCuaHang), LoaiCuaHang.DichVu).ToUpper()">
                                    <img src="@item.LinkAnh" class="img-fluid" alt="@item.TenCuaHang.Trim().ToUpper()">
                                    <h5 class="mt-2 text-black text-uppercase">@item.TenCuaHang.Trim().ToUpper()</h5>
                                </a>
                            </div>
                            }
                            else if (item.LoaiTienIch != null)
                            {
                                <div class="padding-10">
                                    <a asp-controller="CuaHang" asp-action="Information" asp-route-name="@item.TenCuaHang" id="brand_@item.TenCuaHang.Trim().Replace(" ", "-").ToUpper()" class="text-black" data-brand="@item.TenCuaHang.Trim().ToUpper()" data-trim-brand="@item.TenCuaHang.Trim().Replace(" ", "").ToUpper()" data-brand-filter="@item.TenCuaHang.Trim().Substring(0,1).ToUpper()" data-category="@Enum.GetName(typeof(LoaiCuaHang), LoaiCuaHang.TienIch).ToUpper()">
                                    <img src="@item.LinkAnh" class="img-fluid" alt="@item.TenCuaHang.Trim().ToUpper()">
                                    <h5 class="mt-2 text-black text-uppercase">@item.TenCuaHang.Trim().ToUpper()</h5>
                                </a>
                            </div>
                            }
                            else if (item.LoaiMuaSam != null)
                            {
                                <div class="padding-10">
                                    <a asp-controller="CuaHang" asp-action="Information" asp-route-name="@item.TenCuaHang" id="brand_@item.TenCuaHang.Trim().Replace(" ", "-").ToUpper()" class="text-black" data-brand="@item.TenCuaHang.Trim().ToUpper()" data-trim-brand="@item.TenCuaHang.Trim().Replace(" ", "").ToUpper()" data-brand-filter="@item.TenCuaHang.Trim().Substring(0,1).ToUpper()" data-category="@Enum.GetName(typeof(LoaiCuaHang), LoaiCuaHang.MuaSam).ToUpper()">
                                    <img src="@item.LinkAnh" class="img-fluid" alt="@item.TenCuaHang.Trim().ToUpper()">
                                    <h5 class="mt-2 text-black text-uppercase">@item.TenCuaHang.Trim().ToUpper()</h5>
                                </a>
                            </div>
                            }
                            
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>