@using VLPMall.Data.Enum;
@using VLPMall.Interfaces;

@model LoaiCuaHang;

@inject IArticleRepository ArticleRepository;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var articles = await ArticleRepository.GetAllAsync();
}

<link href="~/css/shops.css" rel="stylesheet" />

<style>
    .container {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    .bg-light-gray {
        background-color: #f5f5f5 !important;
        border-color: #f5f5f5 !important;
    }

    .list-group-item {
        background-color: #f5f5f5 !important;
        border-right: 0px !important;
        border-left: 0px !important;
    }
</style>


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#F37F34" /></svg>

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Chi nhánh.</h1>
                    <p>Trung tâm thương mại VLP Mall.</p>
                    <p><a class="btn btn-lg btn-primary" asp-area="" asp-controller="ChiNhanh" asp-action="Index">Khám phá ngay</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#F3627D" /></svg>

            <div class="container">
                <div class="carousel-caption">
                    <h1>Đăng nhập.</h1>
                    <p>Đăng nhập ngay để hưởng những ưu đãi chỉ riêng mình bạn có</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Đăng ký</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#F132DE" /></svg>

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Đánh giá.</h1>
                    <p>Nếu bạn yêu thích chúng tôi hãy để lại một đánh giá nhé.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Đánh giá</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1 px-0 px-md-1">
            <div id="breadcrumbs" class="container-fluid">
                <ul class="breadcrumb"><li><a href=""><span class="fa fa-home"></span></a> </li><li><a href="">Shops</a> </li></ul>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="d-none">
                        <h1>Shops</h1>
                    </div>
                    @switch (Model)
                    {
                        case LoaiCuaHang.AmThuc:
                            {
                                <div class="col-lg-8 col-xl-9">

                                    <div class="clearfix">
                                        <div class="shop-category category-header mx-0 shop-dining">
                                            <a href="" class="text-white">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="h2 font-medium text-capitalize">Ẩm Thực</div>
                                                    </div>
                                                    <div class="col-4 text-right">
                                                        <i class="h1 m-0 p-0 icofont-arrow-right"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <h1 class="text-black text-uppercase p-0 mx-0 mt-0 mb-3 align-middle h3 shop-title">
                                        <img src="https://www.smsupermalls.com/themes/revamp2022/assets/img/icon-dining.png" class="img-fluid mr-2" style="width: 32px; height: auto;">
                                        Danh mục ẩm thực
                                    </h1>

                                    <div class="subcategories clearfix ps-5">
                                        @foreach (int item in Enum.GetValues(typeof(LoaiAmThuc)))
                                        {
                                            var name = Enum.GetName(typeof(LoaiAmThuc), item);
                                            <div class="pb-3">
                                                <a asp-controller="DanhMucCuaHang" asp-action="DanhSachCuaHang" asp-route-loaiCuaHang="@LoaiCuaHang.AmThuc" asp-route-loaiDanhMuc="@item" class="text-black">
                                                    @name
                                                </a>
                                            </div>
                                        }
                                    </div>

                                </div>

                                break;
                            }
                        case LoaiCuaHang.GiaiTri:
                            {
                                <div class="col-lg-8 col-xl-9">

                                    <div class="clearfix">
                                        <div class="shop-category category-header mx-0 shop-entertainment">
                                            <a href="" class="text-white">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="h2 font-medium text-capitalize">Giải Trí</div>
                                                    </div>
                                                    <div class="col-4 text-right">
                                                        <i class="h1 m-0 p-0 icofont-arrow-right"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <h1 class="text-black text-uppercase p-0 mx-0 mt-0 mb-3 align-middle h3 shop-title">
                                        <img src="https://www.smsupermalls.com/themes/revamp2022/assets/img/icon-entertainment.png" class="img-fluid mr-2" style="width: 32px; height: auto;">
                                        Danh mục giải trí
                                    </h1>

                                    <div class="subcategories clearfix ps-5">
                                        @foreach (int item in Enum.GetValues(typeof(LoaiGiaiTri)))
                                        {
                                            var name = Enum.GetName(typeof(LoaiGiaiTri), item);
                                            <div class="pb-3">
                                                <a asp-controller="DanhMucCuaHang" asp-action="DanhSachCuaHang" asp-route-loaiCuaHang="@LoaiCuaHang.GiaiTri" asp-route-loaiDanhMuc="@item" class="text-black">
                                                    @name
                                                </a>
                                            </div>
                                        }
                                    </div>

                                </div>

                                break;   
                            }
                        case LoaiCuaHang.TienIch:
                            {
                                <div class="col-lg-8 col-xl-9">

                                    <div class="clearfix">
                                        <div class="shop-category category-header mx-0 shop-gadget">
                                            <a href="#" class="text-white">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="h2 font-medium text-capitalize">Tiện ích</div>
                                                    </div>
                                                    <div class="col-4 text-right">
                                                        <i class="h1 m-0 p-0 icofont-arrow-right"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <h1 class="text-black text-uppercase p-0 mx-0 mt-0 mb-3 align-middle h3 shop-title">
                                        <img src="https://www.smsupermalls.com/themes/revamp2022/assets/img/icon-gadgets.png" class="img-fluid mr-2" style="width: 32px; height: auto;">
                                        Danh mục tiện ích
                                    </h1>

                                    <div class="subcategories clearfix ps-5">
                                        @foreach (int item in Enum.GetValues(typeof(LoaiTienIch)))
                                        {
                                            var name = Enum.GetName(typeof(LoaiTienIch), item);
                                            <div class="pb-3">
                                                <a asp-controller="DanhMucCuaHang" asp-action="DanhSachCuaHang" asp-route-loaiCuaHang="@LoaiCuaHang.TienIch" asp-route-loaiDanhMuc="@item" class="text-black">
                                                    @name
                                                </a>
                                            </div>
                                        }
                                    </div>

                                </div>

                                break;
                            }
                        case LoaiCuaHang.DichVu:
                            {
                                <div class="col-lg-8 col-xl-9">

                                    <div class="clearfix">
                                        <div class="shop-category category-header mx-0 shop-service">
                                            <a href="#" class="text-white">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="h2 font-medium text-capitalize">Dịch Vụ</div>
                                                    </div>
                                                    <div class="col-4 text-right">
                                                        <i class="h1 m-0 p-0 icofont-arrow-right"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <h1 class="text-black text-uppercase p-0 mx-0 mt-0 mb-3 align-middle h3 shop-title">
                                        <img src="https://www.smsupermalls.com/themes/revamp2022/assets/img/icon-services.png" class="img-fluid mr-2" style="width: 32px; height: auto;">
                                        Danh mục dịch vụ
                                    </h1>

                                    <div class="subcategories clearfix ps-5">
                                        @foreach (int item in Enum.GetValues(typeof(LoaiDichVu)))
                                        {
                                            var name = Enum.GetName(typeof(LoaiDichVu), item);
                                            <div class="pb-3">
                                                <a asp-controller="DanhMucCuaHang" asp-action="DanhSachCuaHang" asp-route-loaiCuaHang="@LoaiCuaHang.DichVu" asp-route-loaiDanhMuc="@item" class="text-black">
                                                    @name
                                                </a>
                                            </div>
                                        }
                                    </div>

                                </div>

                                break;
                            }
                        case LoaiCuaHang.MuaSam:
                            {
                                <div class="col-lg-8 col-xl-9">

                                    <div class="clearfix">
                                        <div class="shop-category category-header mx-0 shop-shopping">
                                            <a href="#" class="text-white">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="h2 font-medium text-capitalize">Mua Sắm</div>
                                                    </div>
                                                    <div class="col-4 text-right">
                                                        <i class="h1 m-0 p-0 icofont-arrow-right"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <h1 class="text-black text-uppercase p-0 mx-0 mt-0 mb-3 align-middle h3 shop-title">
                                        <img src="https://www.smsupermalls.com/themes/revamp2022/assets/img/icon-shopping.png" class="img-fluid mr-2" style="width: 32px; height: auto;">
                                        Danh mục mua sắm
                                    </h1>

                                    <div class="subcategories clearfix ps-5">
                                        @foreach (int item in Enum.GetValues(typeof(LoaiMuaSam)))
                                        {
                                            var name = Enum.GetName(typeof(LoaiMuaSam), item);
                                            <div class="pb-3">
                                                <a asp-controller="DanhMucCuaHang" asp-action="DanhSachCuaHang" asp-route-loaiCuaHang="@LoaiCuaHang.MuaSam" asp-route-loaiDanhMuc="@item" class="text-black">
                                                    @name
                                                </a>
                                            </div>
                                        }
                                    </div>

                                </div>

                                break;
                            }

                    }
                    <div class="col-lg-4 col-xl-3 d-none d-lg-block">
                        <div class="bg-light-gray py-3 px-4">
                            <div>
                                <div class="h4 font-bold mb-3">Tin mới nhất</div>
                                <ul class="list-group latest-news">
                                    @foreach (var item in articles)
                                    {
                                        <li class="list-group-item border-top-0 border-right-0 border-left-0 border-bottom p-0 m-0 bg-none text-break">
                                            <div class="py-2">
                                                <a href="#" class="text-black font-bold">@item.TieuDe</a><br>@switch (item.NgayDang.Month)
                                                {
                                                    case 1:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Một @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 2:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Hai @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 3:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Ba @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 4:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Bốn @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 5:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Năm @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 6:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Sáu @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 7:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Bảy @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 8:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Tám @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 9:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Chín @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 10:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Mười @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 11:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Mười Một @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                    case 12:
                                                        {
                                                            <div><small>Đăng vào @item.NgayDang.Day, Tháng Mười Hai @item.NgayDang.Year</small></div>
                                                            break;
                                                        }
                                                }
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>